{% load static %}


<html>
  <head>
    <link rel="shortcut icon" type="image/ico" href="{% static 'image_object_detector/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'image_object_detector/index.css' %}">
    <title>Hello World Django App with object detection</title>
  </head>
  <div class="wrapper">
    <div class="content">
      <h1>Hello, I'm Image object detector</h1>
      <form method="post" action="show/">
        {% csrf_token %}
        <p>
          <label for="image_url">Введите url изображения</label>
          <input class="url-input" type="text" name="image_url" value="{{ image_url }}" />
        </p>
        <input class="submit-button" type="submit" value = "submit" />
      </form>
    </div>
  </div>
</html>
